:root {
  --font-poppins: "Poppins";
  --font-true-type: "TrueType";
}

@font-face {
  font-family: var(--font-poppins);
  font-weight: 100;
  font-style: normal;
  src: url(/fonts/poppins/Poppins-Thin.ttf) format(var(--font-true-type));
}
@font-face {
  font-family: var(--font-poppins);
  font-weight: 100;
  font-style: italic;
  src: url(/fonts/poppins/Poppins-ThinItalic.ttf) format(var(--font-true-type));
}

@font-face {
  font-family: var(--font-poppins);
  font-weight: 200;
  font-style: normal;
  src: url(/fonts/poppins/Poppins-ExtraLight.ttf) format(var(--font-true-type));
}
@font-face {
  font-family: var(--font-poppins);
  font-weight: 200;
  font-style: italic;
  src: url(/fonts/poppins/Poppins-ExtraLightItalic.ttf)
    format(var(--font-true-type));
}

@font-face {
  font-family: var(--font-poppins);
  font-weight: 300;
  font-style: normal;
  src: url(/fonts/poppins/Poppins-Light.ttf) format(var(--font-true-type));
}
@font-face {
  font-family: var(--font-poppins);
  font-weight: 300;
  font-style: italic;
  src: url(/fonts/poppins/Poppins-LightItalic.ttf) format(var(--font-true-type));
}

@font-face {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/poppins/Poppins-Regular.ttf) format(var(--font-true-type));
}

@font-face {
  font-family: var(--font-poppins);
  font-weight: 500;
  font-style: normal;
  src: url(/fonts/poppins/Poppins-Medium.ttf) format(var(--font-true-type));
}
@font-face {
  font-family: var(--font-poppins);
  font-weight: 500;
  font-style: italic;
  src: url(/fonts/poppins/Poppins-MediumItalic.ttf)
    format(var(--font-true-type));
}

@font-face {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-style: normal;
  src: url(/fonts/poppins/Poppins-SemiBold.ttf) format(var(--font-true-type));
}
@font-face {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-style: italic;
  src: url(/fonts/poppins/Poppins-SemiBoldItalic.ttf)
    format(var(--font-true-type));
}

@font-face {
  font-family: var(--font-poppins);
  font-weight: 700;
  font-style: normal;
  src: url(/fonts/poppins/Poppins-Bold.ttf) format(var(--font-true-type));
}
@font-face {
  font-family: var(--font-poppins);
  font-weight: 700;
  font-style: italic;
  src: url(/fonts/poppins/Poppins-BoldItalic.ttf) format(var(--font-true-type));
}

@font-face {
  font-family: var(--font-poppins);
  font-weight: 800;
  font-style: normal;
  src: url(/fonts/poppins/Poppins-ExtraBold.ttf) format(var(--font-true-type));
}
@font-face {
  font-family: var(--font-poppins);
  font-weight: 800;
  font-style: italic;
  src: url(/fonts/poppins/Poppins-ExtraBoldItalic.ttf)
    format(var(--font-true-type));
}

@font-face {
  font-family: var(--font-poppins);
  font-weight: 900;
  font-style: normal;
  src: url(/fonts/poppins/Poppins-Black.ttf) format(var(--font-true-type));
}
@font-face {
  font-family: var(--font-poppins);
  font-weight: 900;
  font-style: italic;
  src: url(/fonts/poppins/Poppins-BlackItalic.ttf)
    format(var(--font-true-type));
}
