:root {
  --text-primary: #101010;
  --text-secondary: #646464;
  --text-disabled: #a3a3a3;
  --text-active: #ffffff;
  --text-cross-white-primary: #ffffff;
  --text-cross-white-secondary: #c1c1c1;
  --text-cross-black-primary: #101010;
  --text-cross-black-secondary: #646464;
  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f5;
  --bb-tertiary: #ebebeb;
  --bg-disable: #dcdcdc;
  --bg-active: #101010;
  --hover-bg-primary: #f5f5f5;
  --hover-bg-secondary: #ebebeb;
  --hover-bg-tertiary: #dcdcdc;
  --hover-bg-disable: #c1c1c1;
  --hover-bg-active: #2c2c2c;
  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f5;
  --bb-tertiary: #ebebeb;
  --bg-active: #101010;
  --hover-bg-primary: #f5f5f5;
  --hover-bg-secondary: #ebebeb;
  --hover-bg-tertiary: #dcdcdc;
  --hover-bg-disable: #c1c1c1;
  --hover-bg-active: #2c2c2c;
  --bg-cross-white-primary: #ffffff;
  --bg-cross-white-secondary: #f5f5f5;
  --bg-cross-gray: #464646;
  --bg-cross-black-primary: #101010;
  --bg-cross-black-secondary: #1b1b1b;
  --border-primary: #c1c1c1;
  --border-secondary: #dcdcdc;
  --border-cross-white-primary: #a3a3a3;
  --border-cross-white-secondary: #464646;
  --border-cross-black-primary: #464646;
  --border-cross-black-secondary: #a3a3a3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: #FFFFFF;
    --text-secondary: #C1C1C1;
    --text-disabled: #858585;
    --text-active: #101010;
    --bg-primary: #ffffff;
    --bg-secondary: #f5f5f5;
    --bb-tertiary: #ebebeb;
    --bg-disable: #dcdcdc;
    --bg-active: #101010;
    --hover-bg-primary: #f5f5f5;
    --hover-bg-secondary: #ebebeb;
    --hover-bg-tertiary: #dcdcdc;
    --hover-bg-disable: #c1c1c1;
    --hover-bg-active: #2c2c2c;
    --bg-primary: #ffffff;
    --bg-secondary: #f5f5f5;
    --bb-tertiary: #ebebeb;
    --bg-active: #101010;
    --hover-bg-primary: #f5f5f5;
    --hover-bg-secondary: #ebebeb;
    --hover-bg-tertiary: #dcdcdc;
    --hover-bg-disable: #c1c1c1;
    --hover-bg-active: #2c2c2c;
    --bg-cross-white-primary: #ffffff;
    --bg-cross-white-secondary: #f5f5f5;
    --bg-cross-gray: #464646;
    --bg-cross-black-primary: #101010;
    --bg-cross-black-secondary: #1b1b1b;
    --border-primary: #c1c1c1;
    --border-secondary: #dcdcdc;
    --border-cross-white-primary: #a3a3a3;
    --border-cross-white-secondary: #464646;
    --border-cross-black-primary: #464646;
    --border-cross-black-secondary: #a3a3a3;
  }
}
