@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./settings/fonts/poppins.css";
@import "./settings/colors/palette.css";
@import "./settings/colors/default.css";

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}
