@import "./settings/colors/palette.css";
@import "./settings/colors/default.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}
.bg-scroll-transparent::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  scrollbar-color: #575757 #fff;
  scrollbar-width: inherit;
  padding-right: .3rem ;
}
